<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>手机淘宝网 For iPhone/Android</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet/less"  type="text/css" href="./less/muzhi.less">
    <script type="text/javascript" src="http://a.tbcdn.cn/mw/base/libs/less/1.3.0/less.js"></script>
</head>
<body>
<div id="tbh5v0">
    <div id="J_wrapper" class="screen-wrap fullscreen">
            <header>
                <div class="c-inav">
                    <section>
                        <div class="back">
                        <span><em></em></span><a href="about:blank">我的淘宝</a>
                </div>
                </section>
                <section>
                    <h1 id="logo"></h1>
                </section>
                <section>

                </section>
            </div>
           </header>
           <div class="tab-wrap">
             <ul id="J-tab" class="tab-holder">
                <li class="J-filter"><a href="#!list/0/p1" id="J-filterLink">宝贝<small>:全部</small><span class="arr"></span></a></li>
                <li><a href="#!sold/p1" id="J-soldOut">即将售罄</a><em class="pop-num" id="J-soldNum" style="display:none"></em></li>
                <li><a href="#!my/p1" id="J-My">我的斗价</a><em class="pop-num" id="J-myNum" style="display:none;"></em></li>
             </ul>
           </div>
            <div class="drop-list" id="J-catSel">
                <b></b>
                <ul class="category" id="J-catList">

                </ul>
            </div>
           <!--tms区块-->
            <!--

            <div class="slider-wrap" id="J-sliderWrap">
                <div id="J-slider" class="slider">
                    <ul>
                        <li><img src="http://img01.taobaocdn.com/tps/i1/T1pekxXfReXXbyyx.o-320-140.png"/></li>
                        <li><img src="http://img01.taobaocdn.com/tps/i1/T1pekxXfReXXbyyx.o-320-140.png"/></li>
                        <li><img src="http://img01.taobaocdn.com/tps/i1/T1pekxXfReXXbyyx.o-320-140.png"/></li>
                        <li><img src="http://img01.taobaocdn.com/tps/i1/T1pekxXfReXXbyyx.o-320-140.png"/></li>
                    </ul>
                </div>
                <nav>
                    <span id="J-position"></span>
                </nav>
            </div>-->

           <!--list-->
           <div id="J-content" class="content">
               <ul id="J-list" class="list">
                   <div class="loading"><span></span></div>
               </ul>
               <div id="J-pageNav" class="c-pnav-con"></div>
           </div>
    </div>


    <footer class="footer">
        <section class="footer-t">
            <p class="user-info">
                <span><a href="#">用户名1</a></span><span><a href="#">退出</a></span>
            </p>
            <p class="gotop"><a id="J_GoTop" href="#">top<b></b></a></p>
        </section>
        <nav class="footer-l">
            <a href="#" title="">标准版</a><a href="http://www.taobao.com/index.php?from=wap&sprefer=pmm302" title="">电脑版</a>
        </nav>
        <p class="copyright">©2012 浙B2-20080224<a class="cr-sv" href="#" id="J_service">客服</a></p>
    </footer>

</div>
<input type="hidden" id="J_app_key" value="12574478" />
<script type="template" id="J-itemTemplate">
        <div class="hd <%if(allowRefresh){%>allow-refresh<%}%>"><h3><a href="<%= link%>"><%= title%></a></h3>
            <%if(allowRefresh){%><a href="#" class="J-refresh"><s>刷新</s></a><%}%></div>
        <div class="bd">
            <div class="pic">
                <a href="<%= link%>"><img src="<%= pic%>"/></a>
                <%if(startTime){%><span class="start-time"><s></s><%= startTime%>开抢</span><%}%>
            </div>
            <div class="J-priceBar price-section">
                <span class="origin-price">&yen;<%= maxPrice%></span>
                <span class="lowest-price">&yen;<%= minPrice%></span>
                <div class="price-bar"><span class="current-pos region<%= region%>"></span></div>
                <div class="dynamic t-region<%= region%>">
                    <s class="a-region<%= region%>"></s>
                    <b class="current-price">&yen;<%= currentPrice %></b>
                    <%if(numOfJoiners){%><em><%= numOfJoiners%>人斗价</em><%}%>
                </div>
            </div>
        </div>
        <div class="ft">
            <div class="desc"><%= desc%></div>
            <div class="handler">
                <%if(btnClass[1]){%>
                <a href="<%= detailUrl%>" class="btn <%= btnClass[0]%>"><%= btnTxt%></a>
                <%}else{%>
                  <span class="btn <%= btnClass[0]%>"><%= btnTxt%></span>
                <%}%>
            </div>
        </div>
</script>
<input type="hidden" id="J_isTmall" value="false" />

<script type="text/javascript" src="http://10.13.125.92:9292/muzhi.js"> </script>
<script type="text/javascript">
    application.init();
</script>

</body>
</html>
