<li class="list-item">
   <div class="hd"><h3><a href="#">[满270人返40.74元]INMAN茵曼女包…</a></h3></div>
   <div class="bd">
       <div class="pic">
           <img src="http://img02.taobaocdn.com/tps/i2/T1XWAyXk8bXXcSEnMF-193-128.png"/>
       </div>
       <div class="J-priceBar price-section">
           <div class="price-bar"><span class="current-pos region1"></span></div>
           <span class="origin-price">￥3700.00</span>
           <span class="lowest-price">￥1700.00</span>
           <div class="dynamic">
               <s></s>
               <b class="current-price">￥3700.00</b>
               <em>99人斗价</em>
           </div>
       </div>
   </div>
   <div class="ft">
       <div class="desc">再集齐99人 立降至￥999.00</div>
       <div class="handler">
           <a href="#" class="btn buy">立刻购买</a>
       </div>
   </div>
</li>